@model CarritoDTO
@{
    ViewData["Title"] = "Proceso de canje";

    ViewBag.Vista = (int)TipoVista.ProcesoDeCanje;
}

@section GoogleAnalytics
{
    <partial name="_googleAnalitycs" />
}

@section BepensaAnalytics
{
    <partial name="_BepensaAnalytics" />
}

@section OpenPay {
    <partial name="_openPayHeaders" />
}
<main>
    <div class="title">Proceso de canje</div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 mb-2">
                <a class="btn btn-outline-info rounded-pill me-2 w-100" asp-action="Index" asp-controller="Premios" asp-area="Socio">Atrás</a>
            </div>
            @if (Model.MontoPendiente != null && Model.MontoPendiente > 0.0m)
            {
                <div class="col-12 alert alert-warning text-center">
                    Deposita en BBVA la diferencia de: <b>$@Model.MontoPendiente?.ToString("N2")</b> a nombre de <b>Loyalty Marketing Services, S.A. de C.V.</b>
                    No. de cuenta: <b>0450533106</b>. Por favor envía foto de tu depósito al siguiente correo: <a href="mailto:depositos@socioselecto-bepensa.com">depositos@socioselecto-bepensa.com</a>

                </div>
            }

            <div class="col-12" id="contPremios">
                <partial name="_listaDePremios" model="Model" />
            </div>
        </div>
    </div>
</main>

<partial name="_modalError" />
<partial name="_modalSuccess" />
<partial name="_infoRedirect" />
<partial name="_msgErrorPremio" />

<partial name="_modalPtsInsuficientes" />
<partial name="_modalMedioPago" />
<partial name="_modalOpenPay" />
<partial name="_modalDeposito" />
<partial name="_modalConfirmDeposito" />

@{
    var listaCanjes = new List<ProcesaCarritoResultado>();

    if (ViewBag.Canjes != null)
    {
        var canjes = ViewBag.Canjes as List<ProcesaCarritoResultado>;

        listaCanjes = canjes ?? new List<ProcesaCarritoResultado>();
    }
}

<partial name="_modalCanjeExitoso" model="listaCanjes" />

@section Scripts {
    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {
            //$('#msgInfoRedirect').modal('show');
            let msgError = '@Html.Raw((ViewData["msgError"]?.ToString() ?? TempData["msgError"]?.ToString()))';
            let msgSuccess = '@Html.Raw(TempData["msgSuccess"]?.ToString())';

            let msgInfo = '@Html.Raw((ViewData["msgInfo"]?.ToString() ?? TempData["msgInfo"]?.ToString()))';

            let url = '@Html.Raw((ViewData["urlRedirect"]?.ToString() ?? TempData["urlRedirect"]?.ToString()))';

            if (msgError) {
                $('#msgErrorText').text(msgError);
                $('#msgError').modal('show');
            }

            if (msgSuccess) {
                $('#msgCorrectText').text(msgSuccess);
                $('#msgCorrect').modal('show');
            }

            let modelText = '@(ViewBag.Canjes != null ? "1" : "")';

            if (modelText) {
                $('#canjeExitoso').modal('show');
            }

            if (msgInfo) {
                $('#msgInfoRedirectDescription').text(msgInfo);
                $('#btnGoToRedirect').attr('href', url);

                console.log(url);
                $('#msgInfoRedirect').modal('show');

                setTimeout(function () {
                    window.location.href = url;
                }, 8000);
            }
        });
    </script>
    <script type="text/javascript" nonce="@ViewBag.Nonce">
        $(document).ready(function () {
            $(document).on('click', '.menos', function () {
                let idPremio = $(this).data('premio');

                $(this).prop("disabled", true);

                ModificarPremio(idPremio, false);

                $(this).prop("disabled", false);
            });

            $(document).on('click', '.mas', function () {

                let idPremio = $(this).data('premio');

                $(this).prop("disabled", true);

                ModificarPremio(idPremio, true);

                $(this).prop("disabled", false);
            });

            $(document).on('click', '.eliminar', function () {
                let idPremio = $(this).data('premio');

                $(this).prop("disabled", true);

                let data = {
                    IdPremio: parseInt(idPremio, 10)
                }

                EliminarPremio(data);

                $(this).prop("disabled", false);
            });

            $(document).on('click', '.vaciar-carrito', function () {

                $(this).prop("disabled", true);

                EliminarCarrito();

                $(this).prop("disabled", false);
            });

            function ModificarPremio(premio, aumentarCantidad, forzarRegistro = false) {
                AbrirLoad();

                let data = {
                    IdPremio: parseInt(premio, 10),
                    AumentarCantidad: aumentarCantidad,
                    ForzarRegistro: forzarRegistro
                }

                $.ajax({
                    url: '@Url.Action("ModificarPremio", "Carrito", new { area = "Socio" })',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {

                        if (data.exitoso) {
                            $('#msgCorrectTitle').html('<p>Carrito</p>');
                            $('#msgCorrectText').html('<span>¡Listo!</span>');
                            $('#msgCorrectDescription').html('<p>' + data.mensaje + '</p>');

                            ActualizarCarrito(data.data);

                            CerrarLoad();

                            $('#msgCorrect').modal('show');
                        } else {

                            if (data.codigo == @((int)CodigoDeError.SaldoInsuficiente)) {
                                $('#msgErrorPremioTitle').html('<p>Canje</p>');
                                $('#msgErrorPremioText').html('<span>¡' + data.mensaje + '!</span>');
                                $('#msgErrorPremioDescription').html('¿Deseas agregar el premio al carrito y pagar por medio de depósito o tarjeta de Débito/Crédito?');
                                CerrarLoad();
                                $('#msgErrorPremio').modal('show');

                                ConfirmacionAgregarPremio().then(function (confirmacion) {
                                    if (confirmacion) {
                                        ModificarPremio(premio, aumentarCantidad, true);
                                    }
                                });
                            }
                            else {
                                $('#msgErrorTitle').html('<p>Canje</p>');
                                $('#msgErrorText').html('<span>¡' + data.mensaje + '!</span>');
                                $('#msgErrorDescription').html('<p>Sigue acumulando y tendrás más oportunidades para usar tus puntos.</p>');
                                CerrarLoad();
                                $('#msgError').modal('show');
                            }
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);

                        CerrarLoad();
                    }
                });
            }

            function EliminarPremio(data) {
                AbrirLoad();

                $.ajax({
                    url: '@Url.Action("EliminarPremio", "Carrito", new { area = "Socio" })',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data.exitoso) {
                            $('#msgCorrectTitle').html('<p>Carrito</p>');
                            $('#msgCorrectText').html('<span>¡Listo!</span>');
                            $('#msgCorrectDescription').html('<p>' + data.mensaje + '</p>');

                            ActualizarCarrito(data.data);

                            CerrarLoad();

                            $('#msgCorrect').modal('show');

                        } else {
                            $('#msgErrorTitle').html('<p>Carrito</p>');
                            $('#msgErrorText').html('<span>¡' + data.mensaje + '!</span>');
                            $('#msgErrorDescription').html('<p>Sigue acumulando y tendrás más oportunidades para usar tus puntos.</p>');

                            CerrarLoad();

                            $('#msgError').modal('show');
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }

            function EliminarCarrito() {
                AbrirLoad();

                $.ajax({
                    url: '@Url.Action("EliminarCarrito", "Carrito", new { area = "Socio" })',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.exitoso) {
                            $('#msgCorrectTitle').html('<p>Carrito</p>');
                            $('#msgCorrectText').html('<span>¡Listo!</span>');
                            $('#msgCorrectDescription').html('<p>' + data.mensaje + '</p>');

                            ActualizarCarrito(data.data);

                            CerrarLoad();

                            $('#msgCorrect').modal('show');

                        } else {
                            $('#msgErrorTitle').html('<p>Carrito</p>');
                            $('#msgErrorText').html('<span>¡' + data.mensaje + '!</span>');
                            $('#msgErrorDescription').html('<p>Sigue acumulando y tendrás más oportunidades para usar tus puntos.</p>');

                            CerrarLoad();

                            $('#msgError').modal('show');
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }

            function ActualizarCarrito(model) {
                $.ajax({
                    url: '@Url.Action("ListaPremio", "Carrito", new { area = "Socio" })',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(model),
                    success: function (data) {
                        $('#contPremios').html(data);

                        ActualizarTotalPremios();
                    },
                    error: function (error) {
                        console.error('Error:', error);

                        CerrarLoad();
                    }
                });
            }

            function ConfirmacionAgregarPremio() {
                return new Promise((resolve) => {
                    const $modal = $('#msgErrorPremio');
                    const $btnCancelar = $('#btnCancelarPremio');
                    const $btnForzar = $('#btnAgregarPremioForzar');

                    let accionManual = true;

                    $btnForzar.off('click').on('click', function () {
                        $modal.modal('hide');
                        accionManual = false;
                        resolve(true);
                    });

                    $btnCancelar.off('click').on('click', function () {
                        accionManual = false;
                        $modal.modal('hide');
                        resolve(false);
                    });

                    $modal.off('hidden.bs.modal').one('hidden.bs.modal', function () {
                        if (accionManual) {
                            resolve(false);
                        }
                    });
                });
            }
        });

    </script>
}