@model List<PeriodosEmpaquesDTO>

@{
    ViewData["Title"] = "Foto de éxito";

    var fehcaActual = DateTime.Now.ToString("MMMM", new CultureInfo("es-ES"));
}
@section GoogleAnalytics
{
    <partial name="_googleAnalitycs" />
}
<main>
    <div class="container">
        <div class="row align-items-center justify-content-center py-1">

            <div class="col-12">
                <div class="title m-0 p-0">Foto de éxito</div>
            </div>
            <div class="col-12">
                <p class="text-center m-0 font-13px">Da clic en el <b>mes</b> que deseas consultar.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-3">
            @if (Model != null && Model.Count > 0)
            {
                var primerElemento = true;

                <div class="col-lg-12 pb-3">
                    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                        @foreach (var detalle in Model)
                        {
                            var mes = detalle.Fecha.ToString("MMMM").ToLower();

                            <li class="nav-item" role="presentation">
                                <button class="nav-link @(detalle.Porcentaje >= 100 ? "positivo" : "")  @(primerElemento ? "active" : "") pills-button"
                                        id="pills-@mes-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-@mes"
                                        data-mostrar="#@mes"
                                        type="button" role="tab" aria-controls="pills-@mes"
                                        aria-selected="@(primerElemento ? "true" : "false")">
                                    @detalle.Fecha.ToString("MMM", new CultureInfo("es-ES")).ToUpper()<br>@detalle.Porcentaje %
                                </button>
                            </li>

                            primerElemento = false;
                        }

                        @{
                            primerElemento = true;
                        }
                    </ul>

                    <div class="tab-content" id="pills-tabContent">

                        @foreach (var itemModel in Model)
                        {
                            var mes = itemModel.Fecha.ToString("MMMM").ToLower();

                            <div class="tab-pane fade @(primerElemento ? "show active" : "")" id="pills-@mes" role="tabpanel" aria-labelledby="pills-@mes-tab">

                                <div class="card-white">
                                    <div class="titulo"> <b>@mes</b></div>
                                    <div class="row text-center align-items-start justify-content-center gx-5">

                                        @foreach (var catModel in itemModel.Categoria)
                                        {
                                            <div class="col-lg-6">
                                                <div class="row align-items-center my-1">
                                                    <div class="col-lg-3 center-flex d-lg-flex d-md-none d-none">
                                                        @catModel.Nombre
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-4 col-4 justify-content-end d-lg-none d-md-flex d-flex">
                                                                <p class="circulo-gris">@catModel.Nombre</p>
                                                            </div>
                                                            <div class="col-lg-12 col-md-8 col-8 center-flex">
                                                                <p>Compra de 1 producto</p>
                                                            </div>
                                                        </div>
                                                        @foreach (var cump in catModel.Cumplimiento)
                                                        {
                                                            <div class="row align-items-center my-1">
                                                                <div class="col-lg-2 col-md-2 col-2 order-lg-1 order-md-1 order-1">

                                                                    @if (cump.Cumple)
                                                                    {
                                                                        <img src="~/img/general/icn-paloma.svg" width="35" alt="" srcset="">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/img/general/icn-tache.svg" width="35" alt="" srcset="">
                                                                    }
                                                                </div>
                                                                <div class="col-lg-6 col-md-7 col-6 order-lg-2 order-md-3 order-3">
                                                                    <div class="producto-exito uno">@cump.Nombre</div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-2 col-4 order-lg-3 order-md-2 order-2">
                                                                    <img src="@cump.Imagen" class="img-fluid" alt="@cump.Nombre.Split(" ")[0]" srcset="">
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                            primerElemento = false;
                        }

                        @* <div class="tab-pane fade show active" id="pills-octubre" role="tabpanel" aria-labelledby="pills-octubre-tab">
                    <div class="card-white">
                    <div class="titulo"> <b>@fehcaActual</b></div>
                    <div class="row text-center align-items-start justify-content-center gx-5">

                    <div class="col-lg-6">
                    <div class="row align-items-center my-1">
                    <div class="col-lg-3 center-flex d-lg-flex d-md-none d-none">
                    <p class="circulo-gris">CDS’S</p>
                    </div>
                    <div class="col-lg-9">
                    @if (Model != null && Model.Any(x => x.Tipo.Equals("cds")))
                    {
                    <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 justify-content-end d-lg-none d-md-flex d-flex">
                    <p class="circulo-gris">CDS’S</p>
                    </div>
                    <div class="col-lg-12 col-md-8 col-8 center-flex">
                    <p>Compra de 1 producto</p>
                    </div>
                    </div>
                    @foreach (var data in Model.Where(x => x.Tipo.Equals("cds")))
                    {
                    <div class="row align-items-center my-1">
                    <div class="col-lg-2 col-md-2 col-2 order-lg-1 order-md-1 order-1">
                    <img src="~/img/general/icn-paloma.svg" width="35" alt="" srcset="">
                    </div>
                    <div class="col-lg-6 col-md-7 col-6 order-lg-2 order-md-3 order-3">
                    <div class="producto-exito uno">@data.Nombre</div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-4 order-lg-3 order-md-2 order-2">
                    <img src="@data.Url" class="img-fluid" alt="@data.Nombre" srcset="">
                    </div>
                    </div>
                    }

                    }
                    else
                    {
                    <p>No hay información disponible.</p>
                    }
                    </div>
                    </div>

                    </div>


                    <div class="col-lg-6">
                    <div class="row align-items-center my-1">
                    <div class="col-lg-9">
                    @if (Model.Any(x => x.Tipo.Equals("stl")))
                    {
                    <div class="row">
                    <div class="col-lg-12 col-md-8 col-8 center-flex">
                    <p>Compra de 1 producto</p>
                    </div>
                    </div>
                    @foreach (var data in Model.Where(x => x.Tipo.Equals("stl")))
                    {
                    <div class="row align-items-center my-1">
                    <div class="col-lg-2 col-md-2 col-2 order-lg-1 order-md-1 order-1">
                    <img src="~/img/general/icn-paloma.svg" width="35" alt="" srcset="">
                    </div>
                    <div class="col-lg-6 col-md-7 col-6 order-lg-2 order-md-3 order-3">
                    <div class="producto-exito uno">@data.Nombre</div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-4 order-lg-3 order-md-2 order-2">
                    <img src="@data.Url" class="img-fluid" alt="@data.Nombre" srcset="">
                    </div>
                    </div>
                    }

                    }
                    else
                    {
                    <p>No hay información disponible.</p>
                    }
                    </div>
                    <div class="col-lg-3 center-flex d-lg-flex d-md-none d-none">
                    <p class="circulo-gris">STILLS</p>
                    </div>
                    </div>

                    </div>

                    <div class="col-lg-6">
                    <div class="row align-items-center my-1">
                    <div class="col-lg-3 center-flex d-lg-flex d-md-none d-none">
                    <p class="circulo-gris">FDE</p>
                    </div>
                    <div class="col-lg-9">
                    @if (Model.Any(x => x.Tipo.Equals("fde")))
                    {
                    <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 justify-content-end d-lg-none d-md-flex d-flex">
                    <p class="circulo-gris">CDS’S</p>
                    </div>
                    <div class="col-lg-12 col-md-8 col-8 center-flex">
                    <p>Compra de 1 producto</p>
                    </div>
                    </div>
                    @foreach (var data in Model.Where(x => x.Tipo.Equals("fde")))
                    {
                    <div class="row align-items-center my-1">
                    <div class="col-lg-2 col-md-2 col-2 order-lg-1 order-md-1 order-1">
                    <img src="~/img/general/icn-paloma.svg" width="35" alt="" srcset="">
                    </div>
                    <div class="col-lg-6 col-md-7 col-6 order-lg-2 order-md-3 order-3">
                    <div class="producto-exito uno">@data.Nombre</div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-4 order-lg-3 order-md-2 order-2">
                    <img src="@data.Url" class="img-fluid" alt="@data.Nombre" srcset="">
                    </div>
                    </div>
                    }

                    }
                    else
                    {
                    <p>No hay información disponible.</p>
                    }
                    </div>
                    </div>

                    </div>
                    </div>
                    </div>
                    </div> *@

                    </div>
                </div>
            }
            else
            {
                <p>No hay foto de éxito asignada</p>
            }

        </div>
    </div>
</main>