@model PremioDTO
<!-- Modal contra canje-->
<div class="modal fade" id="canje" tabindex="-1" aria-labelledby="contra" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Canje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-start font-12px p-1">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="imgProducto" src="@Model.Imagen" class="img-fluid mx-auto w-100" alt="@Model.Imagen" srcset="">
                    </div>
                    <div class="col-lg-6">
                        <h3 id="nombreProducto">@Model.Nombre</h3>
                        <p>SKU: <span id="skuProducto">@Model.Sku</span></p>
                        <h2 class="text-primary" id="puntosProducto">@Model.Puntos.ToString("N0") Pts.</h2>
                        <p id="descripcionProducto">@Model.Descripcion</p>
                        <div class="d-flex align-items-center justify-content-between">
                            @* <i class="fa fa-trash font-20px"></i> *@
                            <div class="menos" id="menosPremio" data-premio="@Model.Id">-</div>
                            <div id="numProducto">1</div>
                            <div class="mas" id="masPremio" data-premio="@Model.Id">+</div>
                            @(Sesion.FuerzaVenta != null ? "" : Html.Raw($"<button class='btn btn-primary text-white px-2 rounded-pill' id='btnCanjear' data-premio='{Model.Id}' data-tipotran='{Model.IdTipoTransaccion}'>Canjear</button>"))
                        </div>
                        <p class="small floatingInputInvalid text-danger" id="errorIndiceProducto"></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer text-start justify-content-center">
                <small>El premio puede variar en color, modelo al momento de solicitar el canje. Tiempo de entrega: 20 días hábiles por medio de mensajería especializada. Para recibir este premio es necesario tu nombre completo como se muestra en alguna identificación oficial.</small> <br>
                <small>Método de entrega: <b>Mensajería, con entrega a domicilio</b></small>
                <p class="text-center">¿Necesitas más información acerca de nuestra garantía de premios? <br> Conoce los detalles dando <a asp-action="Policy" asp-controller="Home" asp-area="" target="_blank">clic aquí</a></p>
            </div>
        </div>
    </div>
</div>