@{
    var area = ViewContext.RouteData.Values["area"]?.ToString();
    var controller = ViewContext.ActionDescriptor.RouteValues["controller"];
    var method = ViewContext.ActionDescriptor.RouteValues["action"];
}

<div class="row g-3">

    <div class="col-md-6">
        <a asp-action="MetaCompra" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="center-flex card-white p-0 overflow-hidden @(method == "MetaCompra" ? "active" : "")">
                <div class="w-50 p-1 bg-gray center-flex">
                    <img id="ic-meta-compra" src="~/img/general/icn-meta.svg" asp-append-version="true" class="d-block mx-auto" alt="" srcset="">

                </div>
                <div class="w-50 p-1">
                    <p>Meta de compra</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-action="EjecucionMercadeo" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="center-flex card-white p-0 overflow-hidden @(method == "EjecucionMercadeo" ? "active" : "")">
                <div class="w-50 p-1 bg-gray center-flex">
                    <img src="~/img/general/icn-ejecucion-de-mercadeo.svg" asp-append-version="true" class="d-block mx-auto" alt="" srcset="">
                </div>
                <div class="w-50 p-1">
                    <p>Ejecución de mercadeo</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-action="Enfriador" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="center-flex card-white p-0 overflow-hidden @(method == "Enfriador" ? "active" : "")">
                <div class="w-50 p-1 bg-gray center-flex">
                    <img src="~/img/general/icn-enfriador.svg" asp-append-version="true" class="d-block mx-auto" alt="" srcset="">
                </div>
                <div class="w-50 p-1">
                    <p>Enfriador</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-action="Portafolio" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="center-flex card-white p-0 overflow-hidden @(method == "Portafolio" ? "active" : "")">
                <div class="w-50 p-1 bg-gray center-flex">
                    <div class="icon">
                        <img src="~/img/general/icn-portafolio-prioritario.svg" asp-append-version="true" alt="" srcset="">
                    </div>
                </div>
                <div class="w-50 p-1">
                    <p>Portafolio prioritario</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-action="Bonos" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="center-flex card-white text-center justify-content-evenly p-0 overflow-hidden pointer @(method == "Bonos" ? "active" : "")">
                <div class="row align-items-center w-100">
                    <div class="col-md-6 bg-gray center-flex p-2 ">
                        <div class="icon">
                            <img src="~/img/general/icn-bonos.svg" asp-append-version="true" srcset="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="font-15px">Bonos</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6">
        <a asp-action="CompraPorApp" asp-controller="Mecanica" asp-area="Mecanica">
            <div class="card-white center-flex text-center justify-content-evenly p-0 overflow-hidden pointer @(method == "CompraPorApp" ? "active" : "")">
                <div class="row align-items-center w-100">
                    <div class="col-md-6 bg-gray center-flex p-2 ">
                        <div class="icon">
                            <img src="~/img/general/ic-compra-app.svg" asp-append-version="true" srcset="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="font-15px">Compra por App</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>