@{
    var area = ViewContext.RouteData.Values["area"]?.ToString();
    var controller = ViewContext.ActionDescriptor.RouteValues["controller"];
    var method = ViewContext.ActionDescriptor.RouteValues["action"];

    if (Sesion.UsuarioActual == null || Sesion.UsuarioActual.Id == 0)
    {
        var url = Url.Action("Index", "Socios", new { area = "Usuario" });
        <text>
            <script nonce="@ViewBag.Nonce">
                window.location.href = '@url';
            </script>
        </text>

        return;
    }
}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs border-tab justify-content-start justify-content-lg-around flex-wrap" id="top-tab" role="tablist">
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "Socios" && method == "Socio" ? "active" : "" )" asp-action="Socio" asp-controller="Socios" asp-area="Usuario" asp-route-idUsuario="@Sesion.UsuarioActual.Id" role="tab">
                    <img src="~/img/iconos/Mis datos.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    Mis datos
                </a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "Llamadas" && method == "Index" ? "active" : "" )" asp-action="Index" asp-controller="Llamadas" asp-area="Usuario">
                    <img src="~/img/iconos/Contacto.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    Llamadas
                </a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" ? "active" : "" )" asp-action="MetaCompra" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                    <img src="~/img/iconos/Capacitaciones.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    Objetivos
                </a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "EstadoCuenta" && method == "Index" ? "active" : "" )" asp-action="Index" asp-controller="EstadoCuenta" asp-area="Usuario" role="tab">
                    <img src="~/img/iconos/Edocta.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    <span>Estado de cuenta</span>
                </a>
            </li>
            @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Tradicional)
            {
                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Promociones" && method == "Index" ? "active" : "" )" asp-action="Index" asp-controller="Promociones" asp-area="Usuario" role="tab">
                        <img src="~/img/iconos/Promociones.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Promociones
                    </a>
                </li>
            }
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "Premios" ? "active" : "" )" asp-action="Index" asp-controller="Premios" asp-area="Usuario" role="tab">
                    <img src="~/img/iconos/Catalogo.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    Canjes
                </a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link d-md-flex flex-md-column @(controller == "Mecanicas" && method == "MetaCompra" ? "active" : "" )" asp-action="MetaCompra" asp-controller="Mecanicas" asp-area="Usuario" role="tab">
                    <img src="~/img/iconos/Mecanica.svg" alt="Imagen 1" class="d-none d-md-block mb-2" width="50" />
                    <i data-feather="target" class="d-block d-md-none"></i>
                    Mecánica
                </a>
            </li>
        </ul>

        @if (controller == "Objetivos")
        {
            <ul class="nav nav-tabs border-tab justify-content-start justify-content-lg-around flex-wrap pt-5" id="top-tab" role="tablist">
                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" && method == "MetaCompra" ? "active" : "" )" asp-action="MetaCompra" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Meta compra
                    </a>
                </li>

                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" && method == "Ejecucion" ? "active" : "" )" asp-action="Ejecucion" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Ejecución de<br />mercadeo
                    </a>
                </li>

                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" && method == "PortafolioPrioritario" ? "active" : "" )" asp-action="PortafolioPrioritario" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Portafolio<br />Prioritario
                    </a>
                </li>

                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" && method == "FotoExito" ? "active" : "" )" asp-action="FotoExito" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Foto de éxito
                    </a>
                </li>

                @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Comidas)
                {
                    <li class="nav-item col-auto">
                        <a class="nav-link d-md-flex flex-md-column @(controller == "Objetivos" && method == "CumplimientoEnfriador" ? "active" : "" )" asp-action="CumplimientoEnfriador" asp-controller="Objetivos" asp-area="Usuario" role="tab">
                            <i data-feather="target" class="d-block d-md-none"></i>
                            Cumplimiento<br />Enfriador
                        </a>
                    </li>
                }
            </ul>
        }

        @if (controller == "Premios" || controller == "Carrito")
        {
            <ul class="nav nav-tabs border-tab justify-content-start justify-content-lg-around flex-wrap pt-5" id="top-tab" role="tablist">
                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Premios" ? "active" : "" )" asp-action="Index" asp-controller="Premios" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Catálogo de Canje
                    </a>
                </li>

                <li class="nav-item col-auto">
                    <a class="nav-link d-md-flex flex-md-column @(controller == "Carrito" ? "active" : "" )" asp-action="Index" asp-controller="Carrito" asp-area="Usuario" role="tab">
                        <i data-feather="target" class="d-block d-md-none"></i>
                        Proceso de canje
                    </a>
                </li>
            </ul>
        }
    </div>
</div>