@model List<PremioDTO>
@{
    ViewData["Title"] = "Premios";
}
@section Styles {
    <style>
        .swiper {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-pagination-bullet-active {
            color: #fff !important;
            background: #f40000 !important;
        }

        .swiper-pagination-bullet {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            color: #f40000;
            opacity: 1;
            background: #fff;
            border: 1px solid #f40000;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
        }

        .texto {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
        }
    </style>
}
<div class="h-100 pb-3" style="background-color: #F2F4F5;">
    <main class="catalogodecanje" style="min-height: auto;">
        <div class="container">
            <div class="row align-items-center justify-content-center py-1">
                <div class="col-12">
                    <div class="title m-0 p-0">Catálogo de canje</div>
                </div>
                <div class="col-auto mt-1">
                    <a class="btn btn-outline-info rounded-pill px-3" asp-action="Index" asp-controller="Premios" asp-area="Socio">Atrás</a>
                </div>
            </div>
        </div>
    </main>
    <!-- Swiper -->
    @if (Model != null && Model.Count > 0)
    {
        <div class="row justify-content-center g-3 mb-1">
            <div class="col-10 col-lg-8">
                <div class="d-flex ms-auto position-relative">
                    <input class="form-control me-2  position-relative" type="text" id="searchInput" placeholder="Buscar..." autocomplete="off">
                </div>
            </div>
        </div>
        <div class="swiper mySwiper" id="swiperWrapper">
            <div class="swiper-wrapper m-1">
                @foreach (var premio in Model)
                {
                    <div class="swiper-slide" style="width: 895px;">
                        <div class="card p-1">
                            <img src="@premio.Imagen" style="max-height: 361px;">
                            <p class="texto">@premio.Nombre</p>
                            <h3>@premio.Puntos.ToString("N0") Pts.</h3>
                            <button type="button" class="btn btn-premio-js" data-premio="@premio.Id">
                                Ver más
                            </button>
                        </div>
                    </div>
                }
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination mt-2" style="position: relative"></div>
        </div>

        <div id="noResultsMessage" class="text-center my-3" style="display: none;">
            <h5 class="text-muted">No se encontraron premios con ese término.</h5>
        </div>

        @foreach (var premio in Model.Where(x => x.Tarjetas.Count > 0))
        {
            <partial name="_modalTarjeta" model="(premio.Id, premio.Tarjetas)"/>
        }

    }
    else
    {
        <div class="container col-11 col-lg-5 text-center">
            <h5 class="modal-title mb-1">¡No hay premios!</h5>
            <p>
                Actualmente no contamos con premios para esta categoría. Te invitamos a estar atento a nuestras próximas novedades.
            </p>
        </div>
    }
</div>

<partial name="_modalError" />
<partial name="_modalSuccess" />
<partial name="_modalRecarga" />

<div id="detalldeDeProducto">
    <partial name="_verProducto" model="new PremioDTO()" />
</div>


<!-- Swiper JS -->
@* <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> *@

<!-- Initialize Swiper -->
@section Scripts {
    <script type="text/javascript" nonce="@ViewBag.Nonce">
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            slidesPerGroup: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + "</span>";
                },
            },
            grid: {
                rows: 1,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                360: {
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                    spaceBetween: 0,
                    grid: {
                        rows: 1,
                    },
                },
                640: {
                    slidesPerView: 2,
                    slidesPerGroup: 2,
                    spaceBetween: 0,
                    grid: {
                        rows: 1,
                    },
                },
                768: {
                    slidesPerView: 2,
                    slidesPerGroup: 2,
                    spaceBetween: 10,
                    grid: {
                        rows: 1,
                    },
                },
                1024: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    spaceBetween: 50,
                    grid: {
                        rows: 1,
                    },
                },
            },
        });
    </script>
    <script type="text/javascript" nonce="@ViewBag.Nonce">
        $(document).ready(function () {
            const originalSlides = $('.swiper-slide').clone(); // Clona los originales una vez

            $('#searchInput').on('input', function () {
                const searchTerm = $(this).val().toLowerCase();
                const filteredSlides = originalSlides.filter(function () {
                    const texto = $(this).find('.texto').text().toLowerCase();
                    return texto.includes(searchTerm);
                });

                const $wrapper = $('.swiper-wrapper');
                $wrapper.empty();

                if (filteredSlides.length === 0) {
                    $('#noResultsMessage').show();
                    $('.swiper-button-next, .swiper-button-prev, .swiper-pagination').hide(); // 👈 Oculta controles

                    if (swiper) swiper.destroy(true, true);
                    return;
                } else {
                    $('#noResultsMessage').hide();
                    $('.swiper-button-next, .swiper-button-prev, .swiper-pagination').show(); // 👈 Muestra controles
                    $wrapper.append(filteredSlides);
                }

                if (swiper) swiper.destroy(true, true);

                swiper = new Swiper(".mySwiper", {
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                    spaceBetween: 10,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                        renderBullet: function (index, className) {
                            return '<span class="' + className + '">' + (index + 1) + "</span>";
                        },
                    },
                    grid: {
                        rows: 1,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    breakpoints: {
                        360: {
                            slidesPerView: 1,
                            slidesPerGroup: 1,
                            spaceBetween: 0,
                            grid: {
                                rows: 1,
                            },
                        },
                        640: {
                            slidesPerView: 2,
                            slidesPerGroup: 2,
                            spaceBetween: 0,
                            grid: {
                                rows: 1,
                            },
                        },
                        768: {
                            slidesPerView: 2,
                            slidesPerGroup: 2,
                            spaceBetween: 10,
                            grid: {
                                rows: 1,
                            },
                        },
                        1024: {
                            slidesPerView: 5,
                            slidesPerGroup: 5,
                            spaceBetween: 50,
                            grid: {
                                rows: 1,
                            },
                        },
                    },
                });
            });

        });
    </script>


    <script type="text/javascript" nonce="@ViewBag.Nonce">
        $(document).ready(function () {

            $(document).on('click', '.btn-premio-js', function () {
                AbrirLoad();

                var premio = $(this).data('premio');

                VerDetalle(premio);
            });

            function VerDetalle(SKU) {
                $.ajax({
                    url: '@Url.Action("PremioBySku", "Premios", new { area = "Socio", idProducto = "__id__" })'.replace('__id__', SKU),
                    type: 'GET',
                    success: function (data) {
                        $("#detalldeDeProducto").html(data);

                        $('#canje').modal('show');

                        CerrarLoad();
                    },
                    error: function (error) {
                        console.error('Error:', error);

                        CerrarLoad();
                    }
                });
            }

            $(document).on('click', '#menosPremio', function () {
                MenosPremios();
            });

            $(document).on('click', '#masPremio', function () {
                MasPremios();
            });

            function MenosPremios() {
                let numProducto = parseInt($('#numProducto').text().trim(), 10);

                if (numProducto == 1 || numProducto < 1) {
                    $('#errorIndiceProducto').text('El valor no puede ser menor a 1');
                    setTimeout(function () {
                        $('#errorIndiceProducto').text('');
                    }, 3000);
                } else {
                    $('#numProducto').text(numProducto - 1);
                }
            }

            function MasPremios() {
                let numProducto = parseInt($('#numProducto').text().trim(), 10);

                $('#numProducto').text(numProducto + 1);
            }

            $(document).on('click', '#btnCanjear', function () {

                let idPremio = $(this).data('premio');

                if ($(this).data('tipotran') == 1) {
                    $('#txtIdPremio').val($(this).data('premio'));
                    $('#txtCelular').val('');
                    $('#recargaError').text('');

                    $('#canje').modal('hide');

                    $('#recarga').modal('show');
                } else if ($(this).data('tarjeta')) {

                    $('#recargaTarjeta' + idPremio).text('');

                    $('#canje').modal('hide');

                    $('#mdlTarjeta' + idPremio).modal('show');
                } else {
                    AgregarPremio($(this).data('premio'));
                }
            });

            $(document).on('click', '#btnRecarga', function (e) {
                e.preventDefault();

                if ($('#txtCelular').val().length == 10) {
                    $('#recarga').modal('hide');

                    AgregarPremio($('#txtIdPremio').val(), $('#txtCelular').val());
                } else {
                    $('#recargaError').text('El campo es requerido.');
                }
            });

            $(document).on('click', '.btnTarjeta', function (e) {
                e.preventDefault();

                let idPremio = $(this).data('premio');

                if ($('#ddlTarjeta' + idPremio).val().length > 0) {
                    $('#mdlTarjeta' + idPremio).modal('hide');

                    AgregarPremio(idPremio, null, $('#ddlTarjeta' + idPremio).val());
                } else {
                    $('#recargaTarjeta' + idPremio).text('Por favor, selecciona una tarjeta para continuar.');
                }
            });

            
            function AgregarPremio(idPremio, recarga, tarjeta) {
                AbrirLoad();

                let data = {
                    IdPremio: parseInt(idPremio, 10),
                    Cantidad: parseInt($('#numProducto').text().trim(), 10),
                    TelefonoRecarga: recarga,
                    IdTarjeta: parseInt(tarjeta, 10)
                }

                $('#canje').modal('hide');

                $.ajax({
                    url: '@Url.Action("AgregarPremio", "Premios", new { area = "Socio" })',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data.exitoso) {
                            $('#msgCorrectTitle').html('<p>Canje</p>');
                            $('#msgCorrectText').html('<span>¡Listo!</span>');
                            $('#msgCorrectDescription').html('<p>' + data.mensaje + '</p>');
                            CerrarLoad();

                            ActualizarTotalPremios();

                            $('#msgCorrect').modal('show');
                        } else {
                            $('#msgErrorTitle').html('<p>Canje</p>');
                            $('#msgErrorText').html('<span>¡' + data.mensaje + '!</span>');
                            $('#msgErrorDescription').html('<p>Sigue acumulando y tendrás más oportunidades para usar tus puntos.</p>');
                            CerrarLoad();
                            $('#msgError').modal('show');
                        }
                    },
                    error: function (error) {
                        CerrarLoad();
                        console.error('Error:', error);
                    }
                });
            }
        });
    </script>
}