@{
    var area = ViewContext.RouteData.Values["area"]?.ToString();
    var controller = ViewContext.ActionDescriptor.RouteValues["controller"];
    var method = ViewContext.ActionDescriptor.RouteValues["action"];
}
<div class="row g-3">

    <div class="col-md-6">
        <div class="card-white text-center @(method == "MetaCompra" ? "active" : "")">
            <a asp-action="MetaCompra" asp-controller="Mecanica" asp-area="Mecanica">
                <img src="~/img/general/icn-meta.svg" class="d-block mx-auto" style="max-width: 64px; max-height: 64px;" alt="" srcset="">
                <p>Meta de compra</p>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-white text-center @(method == "Portafolio" ? "active" : "")">
            <a asp-action="Portafolio" asp-controller="Mecanica" asp-area="Mecanica">
                <img src="~/img/app/icn-portafolio-prioritario.png" class="d-block mx-auto" style="max-width: 64px; max-height: 64px;" alt="" srcset="">
                <p>Portafolio Prioritario</p>
            </a>
        </div>
    </div>
    @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Tradicional)
    {
        <div class="col-md-6">
            <div class="card-white text-center @(method == "FotoExito" ? "active" : "")">
                <a asp-action="FotoExito" asp-controller="Mecanica" asp-area="Mecanica">
                    <img src="~/img/app/icn-foto-de-exito.png" class="d-block mx-auto" style="max-width: 64px; max-height: 64px;" alt="" srcset="">
                    <p>Foto de éxito</p>
                </a>
            </div>
        </div>
    }

    <div class="col-md-6">
        <div class="card-white text-center @(method == "EjecucionMercadeo" ? "active" : "")">
            <a asp-action="EjecucionMercadeo" asp-controller="Mecanica" asp-area="Mecanica">
                <img src="~/img/general/ic-ejecucion.png" class="d-block mx-auto" style="max-width: 64px; max-height: 64px;" alt="" srcset="">
                <p>Ejecución de mercadeo</p>
            </a>
        </div>
    </div>
    @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Tradicional)
    {
        <div class="col-md-6">
            <div class="card-white text-center @(method == "ActividadesEspeciales" ? "active" : "")">
                <a asp-action="ActividadesEspeciales" asp-controller="Mecanica" asp-area="Mecanica">
                    <img src="~/img/app/icn-actividades-especiales.png" class="d-block mx-auto" style="max-width: 64px; max-height: 64px;" alt="" srcset="">
                    <p>Actividades especiales</p>
                </a>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="card-white text-center @(method == "Bonos" ? "active" : "")">
            <a asp-action="Bonos" asp-controller="Mecanica" asp-area="Mecanica">
                <img src="~/img/app/icn-bonos.png" class="d-block mx-auto" alt="" style="max-width: 64px; max-height: 64px;" srcset="">
                <p>Bonos</p>
            </a>
        </div>
    </div>
</div>