@model BuscarRequest

@{
    ViewData["Title"] = "Socio Selecto";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Buscar socio</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Inicios" asp-area="Home">
                                <svg class="stroke-icon">
                                    <use href="/assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Socios</li>
                        <li class="breadcrumb-item active">Buscar</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid search-page">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <form id="formBuscarSocio" class="theme-form" asp-action="Buscar" asp-controller="Socios" asp-area="Usuario" asp-antiforgery="true" method="post" autocomplete="off">
                            <div class="input-group m-0 flex-nowrap">
                                <input class="form-control-plaintext" type="search" placeholder="Número de Socio / Nombre / Razón Social " asp-for="Buscar" style="color: #444;">
                                <button type="submit" class="btn btn-primary input-group-text">Buscar</button>
                            </div>
                            <span asp-validation-for="Buscar" class="small text-danger mt-2"></span>
                        </form>
                    </div>
                    <div class="card-body" id="socioTable">
                        @await Html.PartialAsync("_sociosTable", new List<UsuarioDTO>())
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<div class="modals">
    <!-- Llamada -->
    <div id="divLlamadaModal">
        @await Html.PartialAsync("_modalLlamada", new LlamadaRequest());
    </div>
</div>

@section Scripts {
    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {

            $('#formBuscarSocio').submit(function (e) {
                e.preventDefault();

                let form = $('#formBuscarSocio');

                $.validator.unobtrusive.parse("#formBuscarSocio");

                if ($('#formBuscarSocio').valid()) {
                    AbrirLoad();

                    let data = $('#formBuscarSocio').serializeArray();

                    $.ajax({
                        type: 'POST',
                        url: form.attr('action'),
                        dataType: 'html',
                        data: data,
                        success: function (result) {
                            $("#socioTable").empty().append(result);

                            $("#formBuscarSocio")[0].reset();

                            CerrarLoad();
                        },
                        error: function (error) {
                            console.log(error);

                            CerrarLoad();
                        }
                    });
                }
            });
        });

        // function AbrirLlamadaModal(pUsuario) {

        //     console.log(pUsuario);
        //     $('#llamadaModal').modal('show');
        // }
    </script>

    @* _modalLLamada.cshtml *@
    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {
            $(document).on('change', '#ddlCategoriaLlamada', function () {

                let id = $(this).val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Subcategoria", "Llamadas", new { area = "Usuario", id = "__ID__" })'.replace('__ID__', id),
                    success: function (result) {
                        $('#ddlIdSubcategoriaLlamada').empty();

                        $('#ddlIdSubcategoriaLlamada').append('<option value="" selected>Seleccione una opción</option>');

                        if (result && result.length > 0) {
                            result.forEach(function (subcategoria) {
                                $('#ddlIdSubcategoriaLlamada').append(
                                    `<option value="${subcategoria.value}">${subcategoria.text}</option>`
                                );
                            });
                        } else {
                            mostrarMensaje("error", 'No hay subcategorías', "¡Error!");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {
            var mensajeError = '@Html.Raw(TempData["ErrorMensaje"] ?? "")';
            var mensajeAlert = '@Html.Raw(TempData["AlertMensaje"] ?? "")';
            var mensajeExito = '@Html.Raw(TempData["SuccessMensaje"] ?? "")';

            if (mensajeExito) {
                mostrarMensaje("success", mensajeExito, "Ok!");
            }

            if (mensajeError) {
                mostrarMensaje("error", mensajeError, "¡Error!");
            }

            if (mensajeAlert) {
                mostrarMensaje("warning", mensajeAlert, "¡Error!");
            }

            $(document).on('click', '.abirModalLlamada', function () {
                var pUsuario = $(this).data('usuario');
                AbrirLlamadaModal(pUsuario);
            });

            $(document).on('submit', '#formRegLlamada', function (e) {
                e.preventDefault();

                AbrirLoad();

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RegistrarLlamada", "Llamadas", new { area = "Usuario" })',
                    data: formData,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    dataType: 'json',
                    success: function (result) {

                        if (result.exitoso) {
                            $('#formRegLlamada')[0].reset();

                            $('#llamadaModal').modal('hide');

                            CerrarLoad();

                            mostrarMensaje("success", mensajeExito, "Registro exitoso!");

                        } else {
                            mostrarMensaje("error", mensajeError, result.mensaje);
                        }
                    },
                    error: function (error) {
                        CerrarLoad();

                        mostrarMensaje("error", mensajeError, "¡Error!");
                    }
                });
            });

            function AbrirLlamadaModal(pUsuario) {

                $('#txtIdUsuario').val(pUsuario);
                $('#llamadaModal').modal('show');
            }
        });



        // function cargarScripts() {
        //     // Obtener el valor del nonce desde la vista (será asignado en el HTML)
        //     var nonce = '@ViewBag.Nonce';

        //     // Crear el primer script (jquery.dataTables.min.js)
        //     var script1 = document.createElement('script');
        //     script1.src = '/assets/js/datatable/datatables/jquery.dataTables.min.js';
        //     script1.type = 'text/javascript';
        //     script1.setAttribute('nonce', nonce); // Agregar el nonce
        //     document.head.appendChild(script1);  // Agregar al DOM

        //     // Crear el segundo script (datatable.custom.js)
        //     var script2 = document.createElement('script');
        //     script2.src = '/assets/js/datatable/datatables/datatable.custom.js';
        //     script2.type = 'text/javascript';
        //     script2.setAttribute('nonce', nonce); // Agregar el nonce
        //     document.head.appendChild(script2);  // Agregar al DOM
        // }

    </script>
}